---
import type { ImageMetadata, MarkdownHeading } from "astro";
import { Image } from "astro:assets";
import "../styles/fonts.css";
import "../styles/global.css";
import Date from "../components/Date.astro";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import Scripts from "../components/Scripts.astro";
import TableOfContents from "../components/TableOfContents.astro";
import TwitterIcon from "../components/icons/TwitterIcon.astro";

export interface Props {
  slug: string;
  title: string;
  description: string;
  headings: MarkdownHeading[];
  ogImage?: string;
  publishedAt?: Date;
  updatedAt?: Date;
  cover?: {
    title?: string;
    image?: string;
  };
}

const {
  slug,
  title,
  description,
  headings,
  ogImage,
  publishedAt,
  updatedAt,
} = Astro.props;
const coverImage = Astro.props.cover?.image ?? null;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/*.{jpg,png,gif}");
---
<!doctype html>
<html lang="en">
<Head title={title} description={description} image={ogImage} />
<body>
  <style>
    .sidebar {
      font-family: var(--font-sans-serif);
      margin: 0.8rem 0;
      font-size: 0.9rem;
    }

    .sidebar .article {
      display: none;
    }

    :global(svg) {
      position: relative;
      width: 0.7rem;
      height: 0.7rem;
      top: 0.08rem;
      left: 0.08rem;
    }

    a:hover :global(svg.icon-twitter) {
      color: #1DA1F2;
    }

    .sidebar .article a,
    .sidebar .written-by a {
      text-decoration: none;
    }

    .sidebar .written-by a:hover {
      color: var(--color-fg-primary);
    }

    .sidebar strong::after {
      content: ":";
    }

    .sidebar summary {
      font-weight: bold;
      list-style-position: outside;
    }

    article .content {
      hyphens: auto;
    }

    article .content .image-wrapper {
      margin: 2rem -1.5rem 2rem;
      padding-left: 0;
      padding-right: 0;
    }

    article .content :global(h2) {
      margin-top: 2rem;
    }

    article .content :global(h3) {
      text-transform: uppercase;
    }

    article .content :global(aside) {
      margin: 1rem 0;
      padding: 1rem;
      font-size: 0.9rem;
      font-family: var(--font-sans-serif);
      background-color: var(--color-bg-secondary);
    }

    article .content :global(aside p:last-child) {
      margin-bottom: 0;
    }

    article .content :global(#introduction) {
      border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px) !important;
      -webkit-clip-path: inset(50%) !important;
      clip-path: inset(50%) !important;
      height: 1px !important;
      overflow: hidden !important;
      margin: -1px !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
      white-space: nowrap !important;
    }

    article .content :global(.footnotes) {
      margin-top: 3rem;
      padding: 1rem 0;
      border-top: 4px solid var(--color-fg-tertiary);
      font-size: 0.8rem;
    }

    article .content :global(.footnotes code) {
      font-size: 0.9em;
    }

    @media (min-width: 1440px) {
      body {
        --sidebar-width: 300px;
        --content-width: calc(620px + 240px);
      }

      article h1 {
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 2rem;
        letter-spacing: -0.02em;
        line-height: 1.1;
      }

      article {
        --gap: 96px;

        display: grid;
        align-items: start;
        column-gap: var(--gap);

        margin-left: calc(-1 * (var(--sidebar-width) + var(--gap)));

        grid-template-columns: var(--sidebar-width) var(--content-width);
        grid-template-rows: auto auto;
      }

      article h1, article .content {
        grid-column: 2 / span 1;
      }

      article .content .image-wrapper {
        margin-top: 0;
        margin-left: -24px;
        margin-right: -24px;
      }

      .sidebar-wrapper {
        width: var(--sidebar-width);
        height: 100%;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;

        border-right: 1px solid #e5e7eb;
      }

      .sidebar {
        position: sticky;
        top: 24px;
        bottom: 24px;

        display: flex;
        flex-direction: column;

        font-size: 0.8rem;

        max-height: calc(100vh - 24px * 2);
      }

      .toc {
        overflow: auto;
      }

      .toc :global(a) {
        text-decoration: none;
      }

      .toc :global(a:hover) {
        text-decoration: none;
        text-decoration-thickness: 1px;
      }

      .toc :global(.active) {
        color: var(--color-fg-accent);
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }

      .sidebar div {
        padding: 0.6rem 1.5rem;
      }

      .sidebar div:not(.toc) {
        line-height: 1.4;
      }

      .sidebar div:not(:first-child) {
        border-top: 1px solid #e5e7eb;
      }

      .sidebar strong {
        display: block;
      }

      .sidebar strong,
      .sidebar summary {
        text-transform: uppercase;
        font-size: 0.6rem;
        font-weight: normal;
        color: var(--color-fg-secondary);
      }

      .sidebar .article {
        display: block;
      }
    }
  </style>
  <Navigation activePath="/writing" />
  <article>
    <h1>{title}</h1>
    <div class="sidebar-wrapper">
      <aside class="sidebar">
        <div class="article">
          <strong>Article</strong>
          {" "}
          <a href={`/${slug}`}>{title} 🔗</a>
        </div>
        <div class="written-by">
          <strong>Written by</strong>
          {" "}
          <span><a href="https://twitter.com/bnjmnt4n">Benjamin Tan <TwitterIcon /></a></span>
        </div>
        {publishedAt ? (
          <div>
            <strong>Published on</strong>
            {" "}
            <Date date={publishedAt} />
          </div>
        ) : (
          <div>
            <strong>Status</strong>
            {" "}
            <span>Draft</span>
          </div>
        )}
        {updatedAt && (
          <div>
            <strong>Updated on</strong>
            <Date date={updatedAt} />
          </div>
        )}
        <div class="toc">
          <details>
            <summary>Table of contents</summary>
            <TableOfContents headings={headings} />
          </details>
        </div>
      </aside>
    </div>

    <div class="content">
      {typeof coverImage === "string" && typeof images[coverImage] === "function" && (
        <div class="image-wrapper">
          <Image src={images[coverImage]()} alt="" />
        </div>
      )}
      <slot />
    </div>
  </article>
  <Scripts />
</body>
</html>
