---
import type { MarkdownHeading } from "astro";
import "../styles/fonts.css";
import "../styles/global.css";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import Scripts from "../components/Scripts.astro";
import TableOfContents from "../components/TableOfContents.astro";

export interface Props {
  slug: string;
  title: string;
  description: string;
  headings: MarkdownHeading[];
  publishedAt?: Date;
  updatedAt?: Date;
}

const {
  slug,
  title,
  description,
  headings,
  publishedAt,
  updatedAt,
} = Astro.props;
---
<!doctype html>
<html lang="en">
<Head title={title} description={description} />
<body>
  <style>
    .sidebar {
      font-family: var(--font-sans-serif);
      margin: 0.8rem 0;
      font-size: 0.9rem;
    }

    .sidebar .article {
      display: none;
    }

    .sidebar .article a {
      text-decoration: none;
    }

    .sidebar strong::after {
      content: ":";
    }

    .sidebar summary {
      font-weight: bold;
      list-style-position: outside;
    }

    article .content :global(h3) {
      text-transform: uppercase;
    }

    article .content :global(aside) {
      margin: 1rem 0;
      padding: 1rem;
      font-size: 0.9rem;
      font-family: var(--font-sans-serif);
      background-color: var(--color-bg-quaternary);
    }

    article .content :global(aside p:last-child) {
      margin-bottom: 0;
    }

    article .content :global(.footnotes) {
      margin-top: 3rem;
      padding: 1rem 0;
      border-top: 4px solid var(--color-fg-tertiary);
      font-size: 0.8rem;
    }

    article .content :global(.footnotes code) {
      font-size: 0.9em;
    }

    @media (min-width: 1440px) {
      body {
        --sidebar-width: 300px;
        --content-width: calc(620px + 240px);
      }

      article h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
        letter-spacing: -0.02em;
        line-height: 1.1;
      }

      article {
        --gap: 96px;

        display: grid;
        align-items: start;
        column-gap: var(--gap);

        margin-left: calc(-1 * (var(--sidebar-width) + var(--gap)));

        grid-template-columns: var(--sidebar-width) var(--content-width);
      }

      article h1, article .content {
        grid-column: 2 / span 1;
      }

      .sidebar {
        width: var(--sidebar-width);
        height: 100%;
        align-self: start;
        max-height: calc(100vh - 24px * 2);
        grid-column: 1 / span 1;

        position: sticky;
        top: 24px;
        bottom: 24px;
        margin-top: 76px;

        display: flex;
        flex-direction: column;

        font-size: 0.8rem;
        border-right: 1px solid #e5e7eb;
      }

      .toc {
        overflow: auto;
      }

      .sidebar div {
        padding: 0.8rem 1.5rem;
      }

      .sidebar div:not(:first-child) {
        border-top: 1px solid #e5e7eb;
      }

      .sidebar strong {
        display: block;
      }

      .sidebar .article {
        display: block;
      }
    }
  </style>
  <Navigation />
  <article>
    <h1>{title}</h1>
    <aside class="sidebar">
      <div class="article">
        <strong>Article</strong>
        {" "}
        <a href={slug}>{title} 🔗</a>
      </div>
      {publishedAt ? (
        <div>
          <strong>Published on</strong>
          {" "}
          <span>{publishedAt}</span>
        </div>
      ) : (
        <div>
          <strong>Status</strong>
          {" "}
          <span>Draft</span>
        </div>
      )}
      {updatedAt && (
        <div>
          <strong>Updated on</strong>
          <span>{updatedAt}</span>
        </div>
      )}
      <div class="toc">
        <details>
          <summary>Table of contents</summary>
          <TableOfContents headings={headings} />
        </details>
      </div>
    </aside>
    <div class="content">
      <slot />
    </div>
  </article>
  <!-- NOTE: keep in sync with CSS -->
  <script is:inline>
    if (window.innerWidth >= 1440) {
      document.querySelector("details").setAttribute("open", true);
    }
  </script>
  <Scripts />
</body>
</html>
